[Unit]
Description=Web Monitoring Service
After=network.target

[Service]
TYPE=simple
ExecStart=/opt/bin/a.out
WorkingDirectory=/opt/bin
Restart=always
User=inspector
Group=inspectorserv

[Install]
WantedBy=multi-user.target
